* { box-sizing: border-box; }
body {
  margin: 0;
  background: #dddddd;
}



/* CARDS */
.card-container { padding: 30px 0; }
.card-container > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  min-height: 80px;
  
}
